.main__daily {
    box-shadow: 0px 0px 36px -5px rgba(0,0,0,0.64);
    margin-left: 40px;
    margin-right: 40px;
}

.photo__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.photo__title {
    background-color: #061f4a;
    color: white;
    text-align: center;
    padding: 1em;
    font-weight: 200;
}
.photo__card {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.64);
    flex-basis: 10%;
    margin-top: 30px;
    align-items: center;
}

.photo__content {
    padding: 1em;
}

.photo__card:hover {
    box-shadow: 0px 0px 20px 0px #105bd8;
}

.photo {
    max-width: 300px;
    align-content: center;
}

.explanation {
    padding: 10px;
}