header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    right: 0;
    justify-content: space-between;
    background-color: #061f4a;
    padding: 1em;
    top: 0;
    margin-left: -10px;
    margin-top: -10px;
    padding-top: 40px;
    padding-bottom: 40px;
}

nav {
    display: flex;
    align-items: center;
    padding-right: 40px;
   
}
.nav__logo {
    max-height: 45px;
    margin-left: 40px;
}
